html,
body,
header,
#intro {
    height: 100%;
}

body {
  position: relative;
}

#intro {
    background: url("./../images/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro > div > div > div {
  opacity: 0.8  ;
}

#intro > div > div > div > div {
  border: 1px black solid;
}

.top-nav-collapse {
  background-color: #343a40;
  transition: background-color 1s ease;
}
